* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header {
  background: #000;
  height: 50px;
}
.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .content {
  display: flex;
  align-items: center;
}
.header .container .content a {
  margin-right: 10px;
  color: #f6f6f6;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.menu .container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu .container a {
  font-size: 20px;
  font-weight: 300;
  color: #000;
  opacity: 70%;
  text-decoration: none;
  position: relative;
}
.menu .container a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #000;
  bottom: -10px;
  left: 0px;
}
.menu .container a:hover {
  transition: color 0.5s;
  color: black;
}
.menu .container a:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.menu .container .main {
  font-weight: 400;
  opacity: 1;
}

.register .container h2 {
  font-size: 40px;
  font-weight: 400;
}
.register .container form label {
  font-size: 20px;
  font-weight: 300;
}
.register .container form input.form-control {
  border: none;
  border-bottom: 2px solid #c43bf3;
  border-radius: 0;
  box-shadow: none;
}
.register .container form input.form-control:focus {
  border-color: #c43bf3;
  box-shadow: none;
}
.register .container form .required {
  color: red;
  font-size: 0.9rem;
}
.register .container form .btn-submit {
  background-color: #c43bf3;
  color: white;
  padding: 0.5rem 2rem;
  border: none;
}
.register .container form .btn-submit:hover {
  background-color: #da8df4;
}
.register .container form .form-check-input {
  width: 1.5em;
  height: 1.5em;
}
.register .container form .form-check-input:checked {
  background-color: #c43bf3;
  border-color: #c43bf3;
}
.register .container form .form-check-label {
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

.footer .top {
  background-color: #f9f7f7;
}
.footer .top .footer-top {
  padding: 2rem 0;
  border-bottom: 1px solid #ddd;
}
.footer .top .footer-top h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer .top .footer-top ul {
  list-style: none;
  padding: 0;
}
.footer .top .footer-top ul li {
  margin-bottom: 0.5rem;
}
.footer .top .footer-top ul li a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
.footer .top .footer-top ul li a:hover {
  text-decoration: underline;
}
.footer .top .footer-top p {
  font-size: 14px;
  color: #333;
  font-weight: 300;
}
.footer .top .footer-top .link {
  color: #d12b2b;
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;
}
.footer .top .footer-top .link:hover {
  text-decoration: underline;
}
.footer .bottom {
  background-color: #f2f2f2;
}
.footer .bottom .footer-bottom {
  padding: 2rem 0;
}
.footer .bottom .footer-bottom h6 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.footer .bottom .footer-bottom p {
  font-size: 14px;
  color: #333;
}
.footer .bottom .footer-bottom .link {
  color: #d12b2b;
  font-size: 14px;
  text-decoration: none;
}
.footer .bottom .footer-bottom .link:hover {
  text-decoration: underline;
}/*# sourceMappingURL=register.css.map */